
.button-main{
  background-color: #ffff;
  color: transparent;
  transition: all .5s ease-in-out;
  height: 50px;
  padding: 16px 32px;
  font-family: "Paperpillar", sans-serif;
  font-weight: 900;
  font-size: 0.688rem;
  line-height: 18px;
  letter-spacing: 1.54px;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}



a {
  text-decoration: none;
}
