body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body:after, body:before {
  content: "";
  display: block;
  position: fixed;
}
body:before {
  background: linear-gradient(
135deg
, #fafafa, #fdfdfd);
  width: 200vw;
  height: 100vw;
  right: -140vw;
  top: -50vw;
  transform: translateZ(0) rotate(
-45deg
);
  z-index: -1;
}